body {
  text-align: center;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  background: #ccc;
}

.container {
  box-shadow: 3px 5px 15px #989898;
  padding: 20px;
  border-radius: 20px;
  max-width: 600px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  background: #fff;
}

h1 {
  font-size: 2rem;
  margin: 0px;
  color: #000044;
}

#name-container {
  font-family: "Playwrite US Modern", cursive;
  max-width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;
  text-shadow: 3px 1px 3px #000000;
  background: #ff0000b5;
  padding: 20px;
  font-size: 35px;
  font-weight: bold;
  box-shadow: 20px 30px 35px 3px #a1a1a1;
}

button {
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 30px;
  border: 2px double #fff;
  color: #fff;
  box-shadow: 1px 2px 5px #666;
  cursor: pointer;
  background: #000057d6;
  transition: all 0.6s;
  font-weight: bold;
}

button:hover {
  background: #000057;
}

button:active {
  position: relative;
  top: 2px;
}

@media (min-width: 400px) and (max-width: 460px) {
  .container {
    gap: 100px;
  }
}

@media (max-width: 399px) {
  .container {
    gap: 50px;
  }
}
